
* {
    color: white;
    font-family: 'Rajdhani', sans-serif;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

@keyframes background-pan {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes growStart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;    
    overflow: hidden;
}
body {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: background-pan 10s cubic-bezier(.50,.10,.50,.90) infinite;
    background: inherit;
}

.row {
    width: 400px;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.column {
    
    margin: 1px;
    border-radius: 6px;
    content: "";
}
.column, #hold-text, #next-text, #roundInfo, button, #hold-piece, .next-piece, #PlayerName, th {
    background-color: #0e0e0e;
}
#game {
    margin: auto;
    padding: 0 2px;
    background-color: rgba(0, 0, 0, .4);
    position: relative;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#hold-text, #next-text, #levelUp {
    width: 100px;
    height: 50px;
}
#roundInfo {
    width: 398px;
    height: 50px;
    margin-right: 1px;
}

#hold-piece, .next-piece{
    height: 100px;
    width: 100px;
    color: white;
}
#hold-text, #next-text, #score-text, #level-text, #time-text {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

#hold-piece, .next-piece, #hold-text, #next-text, #roundInfo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 2px;
    border-radius: 6px;
    padding: 2px;
}
#roundInfo {
    margin-bottom: 1px;
    margin-left: 1px;
}
#hold, #board{
    margin-right: 1px;
    margin-left: 1px;
}
#board {
    width: fit-content;
    margin-left: 0;
    text-align: center;
}
p {
    margin: 0;
    font-size: 15px;
}
button {
    font-size: 20px;
    width: 125px;
    height: 40px;
    border: none;
    margin: 5px;
    transition: .5s;
    border-radius: 6px;
}
button:hover {
    color: rgb(190, 190, 190);
}
button:active {
    color: #3f3f3f;
}
#holdP, .nextP {
    width: 90%;
}
#block-help, #block-leaderboard {
    position: absolute;
    width: 24%;
    height: 80%;
    background-color: rgba(0, 0, 0, .4);
    top: 10%;
}

#block-help {
    left: 5%;
}
#help {
    height: 100%;
    flex-direction: column;
}

#block-leaderboard {
    right: 5%;
}

.keycaps {
    height: 60px;
    margin: 5px 10px;
}
.titleDiv {
    position: absolute;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.blockTitle {
    font-size: 40px;
    font-weight: 700;
}
.help-titles {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 700;
}
#lbDiv, .next-piece, #hold-piece,  #help > div, #help, #saveScore, #startDiv, #hold-text, #next-text, .finalDivs {
    display: flex;
    justify-content: center;
    align-items: center;
}
#leaderboard {
    width: 90%;
    height: 80%;
    position: absolute;
    bottom: 50px;
    overflow-y: scroll; 
    background-color: rgba(0, 0, 0, .3); 
    scrollbar-width: thin;
    scrollbar-color: rgba(14, 14, 14, 1) rgba(0, 0, 0, .1);
}

table {
    /* height: 100%; */
    width: 100%;
    /* scrollbar-width: 7px;
    scrollbar-color: rgba(14, 14, 14, 0.6) black; */
    border-collapse: collapse;
    text-align: center;
}

td, th {
    padding: 5px;
}
th {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

tr {
    border-bottom: 1px solid #0e0e0e;
}

#endScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 35%;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#end, #launch {
    width: 100%;
    height: 100%;
}

#saveScore {
    flex-direction: column;
    height: 100%;
}
#finalScoreNumber, #finalLevelNumber, #finalTimeNumber {
    font-size: 32px;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 10px;
}
#PlayerName {
    padding: 3px 10px;
    height: 40px;
    width: 350px;
    font-size: 25px;
    border: none;
    border-radius: 6px;
}
#PlayerName:focus {
    outline: none !important;
    box-shadow: 0 0 7px #FFF;
    
}
#startGame {
    position: absolute;
    bottom: 15px;
    font-size: 25px;
    transition: 0.5s;
    padding: 5px 20px;
    font-weight: 700;
    animation: growStart 2s cubic-bezier(.50,.10,.50,.90) infinite;
    
}
#startGame:hover {
    transition: 0.5s;
    color: rgb(190, 190, 190);
    background-color: #0e0e0e;
}
#startGame:active {
    color: #3f3f3f;
}
.finalTexts, .authors {
    font-size: 20px;
}

#madeBy {
    font-size: 30px;
}
#end {
    display: none;
}
#gameResults {
    width: 100%;
    text-align: center;
}
.finalDivs {
    flex-direction: column;
}

#roundInfo, #gameResults{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
#levelUp {
    display: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}
#row2 {
    position: relative;
}

#whyThisScore {
    position: absolute;
    width: 100%;
    height: 150%;
    font-size: 15px;
    transform: rotate(10deg);
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(14, 14, 14, 0.6);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(14, 14, 14, 0.8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(14, 14, 14);
}

#leaderboard-table tr:nth-child(2) {
    border-bottom: 1px solid #ffd90050;
    font-weight: bolder;
}
#leaderboard-table tr:nth-child(3) {
    border-bottom: 1px solid #C0C0C050;
    font-weight: bold;
}
#leaderboard-table tr:nth-child(4) {
    border-bottom: 1px solid #CD7F3250;
    font-weight: bold;
}

 @media only screen and (max-width: 1100px) {
    html, body {
        overflow: auto;
    }
    #block-help {
        display: none;
    }
    #block-leaderboard {
        /* display: none; */
        width: 447px !important;
        top: 100% !important;
        left: 50%;
        transform: translate(-50%, 0);
    }
 }
 @media only screen and (max-width: 1400px) {
    tr {
        font-size: 10px !important;
    }
 }

 @media only screen and (max-width: 1600px) {
    .row {
        width: 300px;
        height: 30px;
    }
    #hold-piece, .next-piece {
        width: 70px;
        height: 70px;
    }
    #hold-text, #next-text {
        width: 70px;
        height: 40px;
        font-size: 15px;
    }
    #roundInfo {
        height: 40px;
        width: 298px;
    }
    #level-text, #score-text, #time-text {
        font-size: 15px;
    }
    .scorePoints {
        font-size: 12px;
    }
    #PlayerName {
        width: 275px;
        height: 35px;
        font-size: 20px;
    }
    #submit-button {
        width: 100px;
        height: 35px;
        font-size: 17px;
    }
    .blockTitle {
        font-size: 30px;
    }
    .finalDivs span:nth-child(2) {
        font-size: 27px !important;
    }
    .finalDivs span:nth-child(1) {
        font-size: 17px !important;
    }
    #startGame {
        font-size: 20px;
    }
    .keycaps {
        height: 50px;
    }
    .help-titles {
        font-size: 16px;
    }
    #block-help, #block-leaderboard {
        top: 8%;
        height: 84%;
        width: 28%;
    }
    #block-help {
        left: 1%;
    }
    #block-leaderboard {
        right: 1%;
    }
    tr {
        font-size: 13px;
    }
    #madeBy {
        font-size: 25px;
    }
    .authors {
        font-size: 17px;
    }
    #levelUp {
        font-size: 20px;
        width: 70px;
    }
    #whyThisScore {
        font-size: 12px;
    }
 }
 @media only screen and (max-width: 1870px) {
    tr {
        font-size: 13px;
    }
 }
 